{% extends 'dashboard_app/base.html' %}
{% block title_body %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}
    <h1 class="text-center">Добавить сообщение</h1><br>
{% endblock title_body %}

{% block content %}
    <a class="btn btn-outline-primary" href="{% url 'clubs_app:show_messages' slug_club=slug_club %}">Смотреть мои
        сообщения</a><br><br>

    <form method="post">{% csrf_token %}
        {% for f in form_msg %}
            <div class="mb-3">
                <label class="form-label" style="font-size: 20px">{{ f.label }}</label>
                {{ f }}
                {{ f.errors }}
                <div class="form-text">{{ f.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock content %}