{% load static %}

<footer style="background-color: #223A76; padding: 30px;" class="footer">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-9">
                <p class="justify-content-between" style="color:white; font-size: 25px;">
                    Этот сайт - продукт группового проекта учеников 10Б класса, школы №200 - Александрова Дмитрия,
                    Довгомеля Анастасии, Каргаполовой Елизаветы.
                    (2023)
                </p>
            </div>

            <div class="col-3" style="display:block; margin:auto;">
                <img src="{% static 'images/logos/logowhite.png' %}" alt="Logo" class="adaptive-footer-logo" style="">
            </div>
        </div>

    </div>

</footer>
