{% extends 'clubs_app/base/base.html' %}

{% block title %}Создать клуб{% endblock title %}

{% block content %}

    <div class="container-fluid intro-block" style="background: #223A76; padding-top: 70px; padding-bottom: 70px;">
        <h1 style="font-size: 90px; font-weight: 600; color:white" class="text-center">Создать клуб</h1><br>
    </div>
    <br><br>


    <div class="container">
        <form method="post" action="{% url 'clubs_app:create_club' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
    <br><br><br>
{% endblock content %}


