{% extends 'clubs_app/base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}
{% block title %}Смотреть контент{% endblock title %}

{% block content %}<br><br>
    {% include 'clubs_app/base/nav.html' %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}

    {% for article in articles %}
        <div class="container">
            <div class="card mb-3" style="border: 1px solid #b8b8b8">
                <img src="{{ article.image.url }}" class="card-img-top" width="100%">
                <div class="card-body"><br>
                    <h2 class="card-title">{{ article.title_article }}</h2>
                    <p class="card-text">{{ article.text_body|safe|linebreaks|truncatechars:400 }}</p><br>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary" href="{{ article.get_absolute_url }}">Читать
                        далее {{ article.manager }}</a>


                    {% if request.user == article.author_user %}
                        <a class="btn btn-outline-danger" href="{{ article.get_delete_url }}">Удалить</a>
                    {% endif %}


                    </p>
                </div>
            </div>
        </div><br>
    {% endfor %}





{% endblock content %}
