{% extends 'clubs_app/base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}
{% block title %}Смотреть контент{% endblock title %}

{% block content %}<br><br>
    <div class="container">
        <nav class="nav">
            <a class="nav-link active" aria-current="page"
               href="{% url 'clubs_app:show_articles' slug_club=slug_club %}"
               style="font-weight:400">Статьи</a>
            <a class="nav-link" href="#" style="font-weight:400">Новости</a>
            <a class="nav-link" href="#" style="font-weight:400">Сообщения</a>
        </nav>
    </div><br><br>

    {% for article in articles %}
        <div class="container">
            <div class="card mb-3" style="border: 1px solid #b8b8b8">
                <img src="{{ article.image.url }}" class="card-img-top" width="100%">
                <div class="card-body"><br>
                    <h2 class="card-title">{{ article.title_article }}</h2>
                    <p class="card-text">{{ article.text_body|safe }}</p><br>
                    <p class="card-text"><a class="btn btn-outline-secondary" href="#">Читать далее</a></p>
                </div>
            </div>
        </div>
    {% endfor %}


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}